body 
{
  font-family: "Helvetica", "Rubik", "Segoe UI", sans-serif;
  text-rendering: geometricPrecision;
  background-color: rgba(19, 19, 19, 255);
  background: linear-gradient(
    to bottom,
    black 0%,
    rgba(39, 39, 39, 255) 0%,
    rgba(14, 14, 14, 255) 10%,
    rgba(19, 19, 19, 255) 60%,
    rgba(21, 21, 21, 255) 72%,
    rgba(22, 22, 22, 255) 85%,
    rgba(23, 23, 23, 255) 87%,
    rgba(36, 36, 36, 255) 98%,
    rgba(52, 52, 52, 255) 100%,
    transparent 100%
  );
  background-attachment: fixed;
  max-height: 2500px;
}

.title 
{
  text-align: center;
}

.header
{
  color: white;
  font-size: 11px;
}

.about
{
  color: white;
  text-align: center;
  font-size: 9px;
}


/* buat biar bisa ngepulse*/
div
{
  color:rgba(255, 255, 255, 255);
}

.PULSE 
{
  animation: PULSE 5s infinite; 
}

@keyframes PULSE
{
  0% 
  {
    color: #4d4d4d;
  }
  49% 
  {
    color: #929292;
  }
  50% 
  {
    color: #929292;
  }
  99% 
  {
    color: #4d4d4d;
  }
  100% 
  {
    color: #4d4d4d;
  }
}

/*footer*/
.navigasi ul
{
  list-style: none;
  text-align: center;

}

.navigasi li
{
  display: inline-block;

}

.navigasi a
{
  text-decoration: none;
  color: white;
}

/*footer*/
#footer {
  position: fixed;
  width: 100%;
  height: 5em;
  left: 0px;
  bottom: 0px;
  background-color: #222222;
  text-align: center;
  font-size: small;
  font-weight: bold;
  color: #575757;
}



a
{
  text-decoration: none;
  color: white;
}

.emojihidden 
{
  display: none;
}

.emojilogo {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}